.back-btn {
  font-size: 100%;
  border: none;
  text-decoration: none;
  max-width: 100%;
  color: #25BDBE;
  background-color: transparent;
  margin-bottom: 4em;
}

.next-btn {
  margin: auto;
  font-size: 18px;
  width: 100%;
  text-align: center;
  height: 3em;
  background-color: #ff8f32;
  border-color: transparent;
  border-bottom: solid 2px #e26e17;
  user-select: none;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
}